.my-table-container .my-table {
    width: 100%;
    border: 1px solid #000;
}

.my-table-container .my-table .my-table-heading .my-table-heading-row {
    border-bottom: 1px solid #000;
    background-color: #F4F3F0;
    cursor: pointer;
}

.my-table-container .my-table .my-table-heading .my-table-heading-row .my-table-heading-cols {
    border-right: 1px solid #000;
    padding: 5px;
}

.my-table-container .my-table .my-table-heading .my-table-heading-row .my-table-heading-cols .my-table-filter-container {
    margin: 5px 0;
}

.my-table-container .my-table .my-table-heading .my-table-heading-row .my-table-heading-cols .sort-icon-container {
    vertical-align: middle;
}

.my-table-container .my-table .my-table-heading .my-table-heading-row .my-table-heading-cols .sort-icon-container .sort-icon {
    margin-left: 5px;
}

.my-table-container .my-table .my-table-body .my-table-body-row-even {
    background-color: #F4F3F0;    
}

.my-table-container .my-table .my-table-body .my-table-body-row .my-table-body-cols {
    border-right: 1px solid #000;
    padding: 5px;
}